EnrolmentSystem_CloudServices/EnrolmentSystemClient/EnrolmentSystemClient/Connected Services/EnrolmentServiceReference/EnrolmentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50986/EnrolmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EnrolmentSystem" />
  <xs:element name="ViewEnrolment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewEnrolmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EnrolmentSystem" minOccurs="0" name="ViewEnrolmentResult" nillable="true" type="q1:ArrayOfEnrolment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEnrolment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentID" type="xs:int" />
        <xs:element minOccurs="0" name="CourseID" type="xs:int" />
        <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEnrolmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>