EnrolmentSystem_CloudServices/EnrolmentSystemClient/EnrolmentSystemClient/Connected Services/EnrolmentServiceReference/EnrolmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnrolmentSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnrolmentSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEnrolment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Enrolment" nillable="true" type="tns:Enrolment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnrolment" nillable="true" type="tns:ArrayOfEnrolment" />
  <xs:complexType name="Enrolment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Enrolment" nillable="true" type="tns:Enrolment" />
</xs:schema>